
body{}

/* style for banner  */
.singleBanner {
    position: relative;
}
.bannerInfo {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 28%;
}
.bannerTitle {
    font-size: 4em;
}

/* common style for section title */

.sectionTitle h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sectionTitle p {
    text-align: center;
    color: #6f6b6bcf;
}

/* course photo responsive */

.coursePhoto {
    width: 100%;
}

/* style for social icon */
.socialIcon span a {
    background: #545151;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.socialIcon {
    margin: 20px 0px;
}

.socialIcon span a i {
    height: 20px;
    width: 20px;
    color: #efeae1;
}



/* banner text responsiv */

@media only screen and (max-width: 600px) {
    /* body{
        background-color: red !important;
    } */
    .bannerTitle{
        font-size: 1.5rem;
    }
    .bannerPera{
        font-size: 10px;
    }
}